.comment {
	overflow: hidden;
}

.comment ul {
	padding: 0;
	margin: 10px 10px;
}

.comment li {
	overflow: hidden;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #FFFFFF;
	box-shadow: 0 0 3px #999999;
}

.comment li p.commne_nr {
	color: #333;
	text-align: justify;
	line-height: 1.2rem;
}

.comment li p.comment_peo {
	overflow: hidden;
}

.comment li p.comment_peo img {
	float: left;
	width: 24px;
}

.comment li p.comment_peo span {
	font-size: 0.875rem;
	line-height: 24px;
	margin-left: 5px;
}