body{
	background-color: #f2f2f1;
	padding: 0 10px;
	background: url(../images/mine_bg.jpg) top center no-repeat;
	background-size: 100% 15rem;
}
.mine_tit h1{
	line-height: 2.4rem;
	font-size: 1.2rem;
	text-align: center;
	color: #616161;
	font-weight: normal;
}
.no_user_box{
	width: 84%;
	margin: auto;
	margin-top: 7rem;
	height: 10rem;
	background: #FFFFFF;
	border-radius: 5px;
	box-shadow:0 0px 5px #CCCCCC ;
	 text-align: center;
}
.no_user_box img{
	 width: 6rem;
	 margin: auto;
	 margin-top: -3rem;
}
.no_user_box button{
	display: block;
	width: 50%;
	margin: auto;
	height: 3rem;
	margin-top: 10px;
	border: none;
	outline: none;
	font-size: 1.4rem;
	background: none;
}
.no_user_box button:active{
	background-color: #f1f2f6;
}

.user_box{
	width: 84%;
	margin: auto;
	margin-top: 7rem;
	height: 10rem;
	background: #FFFFFF;
	border-radius: 5px;
	box-shadow:0 0px 5px #CCCCCC ;
	 text-align: center;
}
.user_box img{
	 width: 6rem;
	 margin: auto;
	 margin-top: -3rem;
}

.user_name span{
	text-transform:capitalize;
	color: #333333;
	font-size: 1.2rem;
	line-height: 2rem;
	position: relative;
}
.user_name em{
	position: absolute;
	width: .8rem;
	height: .8rem;
	background: url(../images/xie_icon.png) no-repeat center center;
	background-size:100% 100%;
	margin-left: 10px;
}
.user_tel{
	margin-top: 10px;
	overflow: hidden;
	text-align: center;
}
.user_tel_icon{
	display: inline-block;
	width: 1rem;
	height: 1.2rem;
	margin-top: .2rem;
	background: url(../images/tel_icon.png) no-repeat center center;
	background-size:100% 100% ;
}
.user_tel p{
	display: inline-block;
	line-height: 1.2rem;
	font-size: 1.2rem;
}
.mine_main{
	margin: 1rem 10px;
	position: relative;
}
.mine_main_bg{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #536597;
	border-radius: 5px;
	height: 10px;
	width: 100%;
}
.mine_main_bg_new{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #536597;
	border-radius: 5px;
	height: 10px;
	width: 100%;
}
.mine_box{
	position: absolute;
	z-index: 10;
	top: 5px;
	width: 96%;
	left: 2%;
	border: 1px solid #DDDDDD;
	overflow: hidden;
}
.mine_box_new{
	position: absolute;
	z-index: 10;
	top: 5px;
	width: 96%;
	left: 2%;
	border: 1px solid #DDDDDD;
	overflow: hidden;
}
.mine_box_new a{
	width: 100%;
	text-align: center;
	background-color: #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
	overflow: hidden;
	display: block;
	padding: 1rem;
}

.mine_box_new a:hover{
	/*background-color: #F1F2F6;*/
}

.mine_box_new a:active{
	/*background-color: #C7C7CC;*/
}

.mine_box_new a p{
	overflow: hidden;
	margin: 0;
	float: left;
	height: 1.8rem;
	line-height: 1.8rem;
	text-align: left;
	width: 75%;
	color: #666666;
	margin-left: 5%;
}
.mine_ping_new span{
	display: block;
	float: left;
	width: 43px;
	height: 1.8rem;
	background: url(../images/77.png) no-repeat center center;
	background-size: 75%;
}

.mine_she_new span{
	display: block;
	float: left;
	width: 43px;
	height: 1.8rem;
	background: url(../images/7.png) no-repeat  center center;
	background-size:75%;
}
